*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items: center;
    background-image:url(background2.jpg);
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 650px;
    background: rgb(0, 0, 0, 0.5);
    padding:28px;
    margin:0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;    
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}