*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items: center;
    background-image:url(background2.jpg);
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 650px;
    background: rgb(0, 0, 0, 0.5);
    
}